#section-3 {
  .image-wrap {
    max-height: 30vh;

    .image {
      background-image: url("/static/img/section-3.jpg");
      background-position: 30% center;
    }
  }
  .text-wrap {
    min-height: 70vh;
  }

  .text-wrap {
    .text {
      max-width: 30em;
    }
  }

  @include media-breakpoint-down(xs) {
    .image-wrap {
      min-height: 30vh;
    }
  }

  @include media-breakpoint-up(sm) {
    .image-wrap {
      min-height: 40vh;
    }
    .text-wrap {
      min-height: 60vh;
      max-height: 60vh;
    }
  }
}
