#section-1 {
  .section-inner {
    flex-direction: row-reverse;
  }

  h1 {
    margin-top: 1.2em;
  }

  .image-wrap {
    min-height: 50vh;

    .image {
      background-image: url('/static/img/section-1-sm.png');
      background-position: center top;
    }
  }
  @include media-breakpoint-up(sm) {
    font-size: $display4-size;
  }

  @include media-breakpoint-up(lg) {
    h1 {
      margin-top: 0;
      margin-right: 1.6em;
      font-size: $display4-size;
    }

    .image-wrap {
      @include image-skew-left;

      .image {
        background-image: url('/static/img/section-1.jpg');
        background-position: 60% center;
      }
    }
  }
  @include media-breakpoint-up(xl) {
    h1 {
      margin-right: 2.6em;
      font-size: $display3-size;
    }
  }
  @media(min-width: 2050px) {
    h1 {
      font-size: $display2-size;
    }
  }
}
