#section-10 {
  .image-wrap {
    min-height: 80vw;

    .image {
      background-image: url('/static/img/section-11.jpg');
      background-position: 50% 50%;
    }
  }
  .text-wrap {
    .text {
      max-width: 30em;
    }
  }
  @include media-breakpoint-up(lg) {
    .section-inner {
      // height: 100vh;
    }
  }
}
