#section-15 {
  .section-inner {
    flex-direction: row-reverse;
  }

  .image-wrap {
    min-height: 50vh;

    .image {
      background-image: url('/static/img/section-16.jpg');
      background-position: 60% 50%;
    }
  }

  .text-wrap {
    p {
      max-width: 20em;
    }
  }

  @include media-breakpoint-up(sm) {
    .image-wrap {

      .image {
        background-position: 50% 50%;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .text {
      column-count: 2;
      column-gap: 4em;
    }
    .image-wrap {
      min-height: 70vw;

      .image {
        background-position: 50% 50%;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .text {
      column-count: 1;
      column-gap: 0;
    }
    .image-wrap {
      min-height: 70vw;

      .image {
        background-position: 50% 50%;
      }
    }
  }
}
